

.tools-grid-container {

    .tools-body-container {
        background-color: $main-blue;
        display: flex;
        flex-direction: column;
        padding-bottom: 4vh;



        .tools-title {
            text-align: left;
            margin-top: initial;
            margin-right: auto;
            margin-left: auto;
            font-family: $main-text-bold ;
            color: white;
            font-size: 25px;
            
            

        }
    }


    .tools-list-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        

        }


        img.list_container__img {
            width: 1.9rem;
            height: 1.9rem;
        }

        
        .list_container {
            font-family: $main-text-bold;
            font-size: 12px;
            color: white;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style-type: none;
            justify-content: space-evenly;
            padding-left: initial;
        
        }
    }

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
    }

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
    }

// **** MEDIA QUERIES ****


@media(min-width: $tablet-breakpoint) {

    .tools-grid-container .tools-list-container .list_container {
        font-size: 14px;
    }

    .tools-grid-container .tools-list-container .list_container .list_container__txt {
        font-size: 20px;
        width: 33vw;
    }

    .tools-grid-container .tools-body-container .tools-title {
        font-size: 35px;
    }


}


@media(min-width: $desktop-breakpoint) {

    .tools-grid-container .tools-list-container .list_container {
        font-size: 14px;
    }


    .tools-grid-container .tools-list-container .list_container .list_container__txt {
        font-size: 25px;
        width: 35vw;
    }


    .tools-grid-container .tools-list-container .list_container .list_container__img {
        height: 3rem;
        width: 3rem;
    }

    .tools-grid-container .tools-body-container .tools-title {
    font-size: 35px;
}


}