@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');


// colors

$mainColor: red;
$main-blue: #227c9d;
$main-yellow: #ffcb77;
$main-light-blue: rgba($main-blue, .60);


// FONTS

$main-text-bold: 'Poppins', sans-serif;



// BREAKPOINTS


$xl-desktop-breakpoint: 75rem;

$desktop-breakpoint: 62em;

$tablet-breakpoint: 43em;



